altair==4.2.2
argon2-cffi @ file:///C:/Python%20Project/pip_install_file/jupyter/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings==25.1.0
asttokens @ file:///C:/Python%20Project/pip_install_file/jupyter/asttokens-2.0.8-py2.py3-none-any.whl
attrs==23.2.0
backcall @ file:///C:/Python%20Project/pip_install_file/jupyter/backcall-0.2.0-py2.py3-none-any.whl
beautifulsoup4 @ file:///C:/Python%20Project/pip_install_file/jupyter/beautifulsoup4-4.11.1-py3-none-any.whl
bleach @ file:///C:/Python%20Project/pip_install_file/jupyter/bleach-5.0.1-py3-none-any.whl
blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
cffi @ file:///C:/Python%20Project/pip_install_file/jupyter/cffi-1.15.1-cp310-cp310-win_amd64.whl
charset-normalizer @ file:///C:/Python%20Project/pip_install_file/requests_python/charset_normalizer-3.3.2-py3-none-any.whl
click @ file:///C:/Python%20Project/pip_install_file/stramlit_pkg/click-8.1.7-py3-none-any.whl
colorama==0.4.6
colorlog==6.7.0
comtypes==1.1.10
contourpy==1.3.2
cycler==0.10.0
debugpy @ file:///C:/Python%20Project/pip_install_file/jupyter/debugpy-1.6.3-cp310-cp310-win_amd64.whl
decorator @ file:///C:/Python%20Project/pip_install_file/jupyter/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///C:/Python%20Project/pip_install_file/jupyter/defusedxml-0.7.1-py2.py3-none-any.whl
entrypoints @ file:///C:/Python%20Project/pip_install_file/jupyter/entrypoints-0.4-py3-none-any.whl
et-xmlfile==1.0.1
executing @ file:///C:/Python%20Project/pip_install_file/jupyter/executing-1.0.0-py2.py3-none-any.whl
extra-streamlit-components==0.1.71
fastjsonschema @ file:///C:/Python%20Project/pip_install_file/jupyter/fastjsonschema-2.16.2-py3-none-any.whl
fonttools==4.60.0
gitdb==4.0.11
GitPython==3.1.43
google @ file:///C:/Python%20Project/pip_install_file/stramlit_pkg/google-3.0.0-py2.py3-none-any.whl
google-auth @ file:///C:/Python%20Project/pip_install_file/stramlit_pkg/google_auth-2.29.0-py2.py3-none-any.whl
greenlet==3.1.1
idna==3.7
ipykernel @ file:///C:/Python%20Project/pip_install_file/jupyter/ipykernel-6.16.0-py3-none-any.whl
ipython @ file:///C:/Python%20Project/pip_install_file/jupyter/ipython-8.5.0-py3-none-any.whl
ipython-genutils @ file:///C:/Python%20Project/pip_install_file/jupyter/ipython_genutils-0.2.0-py2.py3-none-any.whl
jedi @ file:///C:/Python%20Project/pip_install_file/jupyter/jedi-0.18.1-py2.py3-none-any.whl
Jinja2==3.1.2
jinja3 @ file:///C:/Python%20Project/pip_install_file/jupyter/jinja3-3.1.7-py3-none-any.whl
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-core @ file:///C:/Python%20Project/pip_install_file/jupyter/jupyter_core-4.11.1-py3-none-any.whl
jupyter_client @ file:///C:/Python%20Project/pip_install_file/jupyter/jupyter_client-7.3.5-py3-none-any.whl
jupyterlab-pygments @ file:///C:/Python%20Project/pip_install_file/jupyter/jupyterlab_pygments-0.2.2-py2.py3-none-any.whl
kiwisolver @ file:///C:/Python%20Project/pip_install_file/library/kiwisolver-1.4.4-cp310-cp310-win_amd64.whl
lxml @ file:///C:/Python%20Project/pip_install_file/jupyter/lxml-4.9.1-cp310-cp310-win_amd64.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///C:/Python%20Project/pip_install_file/library/matplotlib-3.6.0-cp310-cp310-win_amd64.whl
matplotlib-inline @ file:///C:/Python%20Project/pip_install_file/jupyter/matplotlib_inline-0.1.6-py3-none-any.whl
mdurl==0.1.2
mistune @ file:///C:/Python%20Project/pip_install_file/jupyter/mistune-2.0.4-py2.py3-none-any.whl
narwhals==1.24.1
nbclient @ file:///C:/Python%20Project/pip_install_file/jupyter/nbclient-0.6.8-py3-none-any.whl
nbconvert @ file:///C:/Python%20Project/pip_install_file/jupyter/nbconvert-7.0.0-py3-none-any.whl
nbformat @ file:///C:/Python%20Project/pip_install_file/jupyter/nbformat-5.6.1-py3-none-any.whl
nest-asyncio @ file:///C:/Python%20Project/pip_install_file/jupyter/nest_asyncio-1.5.5-py3-none-any.whl
notebook @ file:///C:/Python%20Project/pip_install_file/jupyter/notebook-6.4.12-py3-none-any.whl
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pandocfilters @ file:///C:/Python%20Project/pip_install_file/jupyter/pandocfilters-1.5.0-py2.py3-none-any.whl
parso @ file:///C:/Python%20Project/pip_install_file/jupyter/parso-0.8.3-py2.py3-none-any.whl
pickleshare @ file:///C:/Python%20Project/pip_install_file/jupyter/pickleshare-0.7.5-py2.py3-none-any.whl
pillow==10.4.0
plotly==6.0.0
prometheus-client @ file:///C:/Python%20Project/pip_install_file/jupyter/prometheus_client-0.14.1-py3-none-any.whl
prompt-toolkit @ file:///C:/Python%20Project/pip_install_file/jupyter/prompt_toolkit-3.0.31-py3-none-any.whl
protobuf==5.27.2
psutil @ file:///C:/Python%20Project/pip_install_file/jupyter/psutil-5.9.2-cp310-cp310-win_amd64.whl
psycopg2==2.9.9
pure-eval @ file:///C:/Python%20Project/pip_install_file/jupyter/pure_eval-0.2.2-py3-none-any.whl
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///C:/Python%20Project/pip_install_file/jupyter/pycparser-2.21-py2.py3-none-any.whl
pydeck==0.9.1
Pygments==2.18.0
pyparsing @ file:///C:/Python%20Project/pip_install_file/jupyter/pyparsing-3.0.9-py3-none-any.whl
pyrsistent @ file:///C:/Python%20Project/pip_install_file/jupyter/pyrsistent-0.18.1-cp310-cp310-win_amd64.whl
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
pywin32==306
pywinpty @ file:///C:/Python%20Project/pip_install_file/jupyter/pywinpty-2.0.8-cp310-none-win_amd64.whl
PyYAML==6.0.2
pyzmq @ file:///C:/Python%20Project/pip_install_file/jupyter/pyzmq-24.0.1-cp310-cp310-win_amd64.whl
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.19.1
rsa==4.9.1
scipy==1.15.3
Send2Trash @ file:///C:/Python%20Project/pip_install_file/jupyter/Send2Trash-1.8.0-py3-none-any.whl
six @ file:///C:/Python%20Project/pip_install_file/jupyter/six-1.16.0-py2.py3-none-any.whl
smmap==5.0.1
soupsieve @ file:///C:/Python%20Project/pip_install_file/jupyter/soupsieve-2.3.2.post1-py3-none-any.whl
SQLAlchemy==2.0.35
stack-data @ file:///C:/Python%20Project/pip_install_file/jupyter/stack_data-0.5.1-py3-none-any.whl
streamlit==1.37.0
streamlit-aggrid==1.0.5
streamlit-flow-component==1.5.0
streamlit-free-text-select==0.2.0
streamlit-js-eval==0.1.7
streamlit_carousel==1.1.0
tenacity==8.5.0
terminado @ file:///C:/Python%20Project/pip_install_file/jupyter/terminado-0.15.0-py3-none-any.whl
tinycss2 @ file:///C:/Python%20Project/pip_install_file/jupyter/tinycss2-1.1.1-py3-none-any.whl
toml @ file:///C:/Python%20Project/pip_install_file/stramlit_pkg/toml-0.10.2-py2.py3-none-any.whl
toolz==0.12.1
tornado==6.4.1
traitlets @ file:///C:/Python%20Project/pip_install_file/jupyter/traitlets-5.4.0-py3-none-any.whl
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1
wcwidth @ file:///C:/Python%20Project/pip_install_file/jupyter/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///C:/Python%20Project/pip_install_file/jupyter/webencodings-0.5.1-py2.py3-none-any.whl
xlrd @ file:///C:/Python%20Project/pip_install_file/library/xlrd-2.0.1-py2.py3-none-any.whl
xlwings==0.23.3
